.bg{
	position: relative;
	width: auto;
	height: calc(100vh);
	left: 0;
	top: 0;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("./Assets/horace-hsu-neon-vex-f.jpg");
	background-size: cover;
	background-position: center;
}

.display-5{
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.col-lg-6{
	color: white;
	text-shadow: 2px 2px 4px #000000;
}