#bg{
	content: '';
	position: relative;
	width: auto;
	height: calc(100vh - 71.962px);
	left: 0;
	top: 0;
	background-image: url("./Assets/horace-hsu-neon-vex-f.jpg");
	background-size: cover;
	filter: blur(0px);
	z-index: -15;
}