/* .body{
	content: '';
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url("./Assets/horace-hsu-neon-vex-f.jpg");
	background-size: cover;
	filter: blur(50px);
	z-index: -15;
} */